In [1]:
## Import the dependencies
from geopy.geocoders import GoogleV3
from lat_lon_parser import parse
import pandas as pd, requests, time
import warnings
import numpy as np
import datetime as dt
import geopandas as gpd

## Import api key
from config import map_key

# 1. Setup

### 1.1 Import the Data

In [2]:
df = pd.read_csv (r'C:\Users\emich\Desktop\penn data science bootcamp\Project 3\Project-3-\Resources\Longer_Fireball_Data.csv')
df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-04-01 00:02:03,16.8S,76.0E,61.8,46.4,21.4,-40.6,7.1,2.400000e+10,0.086
1,2023-03-20 06:53:23,23.7S,132.6E,34.8,NaN,NaN,NaN,NaN,2.700000e+10,0.095
2,2023-03-11 08:21:28,74.7S,79.5E,32.0,NaN,NaN,NaN,NaN,4.440000e+11,1.100
3,2023-03-03 02:53:54,40.1N,87.4E,32.0,25.3,16.1,-19.3,2.6,6.400000e+10,0.200
4,2023-02-19 06:15:34,7.9N,109.9E,37.0,23.0,-1.1,-22.9,1.2,2.030000e+11,0.570
...,...,...,...,...,...,...,...,...,...,...
946,1993-11-29 17:48:41,26.5N,78.3E,NaN,NaN,NaN,NaN,NaN,2.600000e+10,0.092
947,1993-10-31 03:39:27,51.3N,100.9W,NaN,NaN,NaN,NaN,NaN,4.000000e+10,0.130
948,1991-10-04 09:22:47,78.7N,6.3E,NaN,NaN,NaN,NaN,NaN,5.500000e+11,1.400
949,1990-10-01 03:51:47,7.5N,142.8E,NaN,NaN,NaN,NaN,NaN,2.500000e+12,5.200
950,1988-04-15 03:03:10,4.1S,124.3E,NaN,NaN,NaN,NaN,NaN,7.580000e+12,14.000

In [3]:
df.to_json(r'C:\Users\emich\Desktop\penn data science bootcamp\Project 3\Project-3-\Resources\Longer_Fireball_Data.json')

In [4]:
## Review the data type of each column
df.dtypes

Peak Brightness Date/Time (UT)          object
Latitude (deg.)                         object
Longitude (deg.)                        object
Altitude (km)                          float64
Velocity (km/s)                        float64
vx                                     float64
vy                                     float64
vz                                     float64
Total Radiated Energy (J)              float64
Calculated Total Impact Energy (kt)    float64
dtype: object

# 2. Data Cleaning

### 2.1 Remove the Unwanted Columns and Rows

In [5]:
## Drop all null values
fireball_df = df.dropna()
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-04-01 00:02:03,16.8S,76.0E,61.8,46.4,21.4,-40.6,7.1,2.400000e+10,0.086
3,2023-03-03 02:53:54,40.1N,87.4E,32.0,25.3,16.1,-19.3,2.6,6.400000e+10,0.200
4,2023-02-19 06:15:34,7.9N,109.9E,37.0,23.0,-1.1,-22.9,1.2,2.030000e+11,0.570
5,2023-02-14 22:55:25,48.0S,53.3W,32.3,15.6,-15.1,3.7,-0.9,1.840000e+11,0.520
8,2023-01-17 06:56:59,33.1N,173.7W,38.0,14.2,7.8,-5.6,-10.5,2.900000e+10,0.100
...,...,...,...,...,...,...,...,...,...,...
680,2004-04-22 04:21:49,44.3S,83.3E,29.6,16.3,8.5,-12.1,-6.8,6.240000e+11,1.500
681,2004-04-06 03:24:49,12.0S,162.8E,35.0,25.6,10.5,-23.2,-2.9,4.330000e+11,1.100
692,2003-11-10 13:54:06,64.5S,136.2E,23.0,20.1,14.8,-8.7,10.4,5.180000e+11,1.300
697,2003-09-27 12:59:02,21.0N,86.6E,26.0,18.2,-1.0,-5.4,-17.3,2.150000e+12,4.600
857,1998-01-04 23:00:27,35.1S,33.4E,30.0,17.1,6.0,-10.6,12.0,7.400000e+10,0.230

In [6]:
## Drop 'vx', 'vy', 'vz' columns
fireball_df.pop('vx')
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-04-01 00:02:03,16.8S,76.0E,61.8,46.4,-40.6,7.1,2.400000e+10,0.086
3,2023-03-03 02:53:54,40.1N,87.4E,32.0,25.3,-19.3,2.6,6.400000e+10,0.200
4,2023-02-19 06:15:34,7.9N,109.9E,37.0,23.0,-22.9,1.2,2.030000e+11,0.570
5,2023-02-14 22:55:25,48.0S,53.3W,32.3,15.6,3.7,-0.9,1.840000e+11,0.520
8,2023-01-17 06:56:59,33.1N,173.7W,38.0,14.2,-5.6,-10.5,2.900000e+10,0.100
...,...,...,...,...,...,...,...,...,...
680,2004-04-22 04:21:49,44.3S,83.3E,29.6,16.3,-12.1,-6.8,6.240000e+11,1.500
681,2004-04-06 03:24:49,12.0S,162.8E,35.0,25.6,-23.2,-2.9,4.330000e+11,1.100
692,2003-11-10 13:54:06,64.5S,136.2E,23.0,20.1,-8.7,10.4,5.180000e+11,1.300
697,2003-09-27 12:59:02,21.0N,86.6E,26.0,18.2,-5.4,-17.3,2.150000e+12,4.600
857,1998-01-04 23:00:27,35.1S,33.4E,30.0,17.1,-10.6,12.0,7.400000e+10,0.230

In [7]:
## Drop 'vx', 'vy', 'vz' columns
fireball_df.pop('vy')
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-04-01 00:02:03,16.8S,76.0E,61.8,46.4,7.1,2.400000e+10,0.086
3,2023-03-03 02:53:54,40.1N,87.4E,32.0,25.3,2.6,6.400000e+10,0.200
4,2023-02-19 06:15:34,7.9N,109.9E,37.0,23.0,1.2,2.030000e+11,0.570
5,2023-02-14 22:55:25,48.0S,53.3W,32.3,15.6,-0.9,1.840000e+11,0.520
8,2023-01-17 06:56:59,33.1N,173.7W,38.0,14.2,-10.5,2.900000e+10,0.100
...,...,...,...,...,...,...,...,...
680,2004-04-22 04:21:49,44.3S,83.3E,29.6,16.3,-6.8,6.240000e+11,1.500
681,2004-04-06 03:24:49,12.0S,162.8E,35.0,25.6,-2.9,4.330000e+11,1.100
692,2003-11-10 13:54:06,64.5S,136.2E,23.0,20.1,10.4,5.180000e+11,1.300
697,2003-09-27 12:59:02,21.0N,86.6E,26.0,18.2,-17.3,2.150000e+12,4.600
857,1998-01-04 23:00:27,35.1S,33.4E,30.0,17.1,12.0,7.400000e+10,0.230

In [8]:
## Drop 'vx', 'vy', 'vz' columns
fireball_df.pop('vz')
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2023-04-01 00:02:03,16.8S,76.0E,61.8,46.4,2.400000e+10,0.086
3,2023-03-03 02:53:54,40.1N,87.4E,32.0,25.3,6.400000e+10,0.200
4,2023-02-19 06:15:34,7.9N,109.9E,37.0,23.0,2.030000e+11,0.570
5,2023-02-14 22:55:25,48.0S,53.3W,32.3,15.6,1.840000e+11,0.520
8,2023-01-17 06:56:59,33.1N,173.7W,38.0,14.2,2.900000e+10,0.100
...,...,...,...,...,...,...,...
680,2004-04-22 04:21:49,44.3S,83.3E,29.6,16.3,6.240000e+11,1.500
681,2004-04-06 03:24:49,12.0S,162.8E,35.0,25.6,4.330000e+11,1.100
692,2003-11-10 13:54:06,64.5S,136.2E,23.0,20.1,5.180000e+11,1.300
697,2003-09-27 12:59:02,21.0N,86.6E,26.0,18.2,2.150000e+12,4.600
857,1998-01-04 23:00:27,35.1S,33.4E,30.0,17.1,7.400000e+10,0.230

In [9]:
# Split 'Peak Brightness Date/Time (UT)' into two columns: 'Peak Brightness Date' and 'Peak Brightness Time (UT)'
new_cols = fireball_df['Peak Brightness Date/Time (UT)'].str.split(expand=True)

# Rename the columns
new_cols.columns = ['Dates', 'Times (UT)']

# Concatenate the new DataFramewith the original data
fireball_df = pd.concat([fireball_df, new_cols], axis=1)

# Drop the orginal column 
fireball_df.drop('Peak Brightness Date/Time (UT)', axis=1, inplace=True)

# View the table
fireball_df

,Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT)
0,16.8S,76.0E,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03
3,40.1N,87.4E,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54
4,7.9N,109.9E,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34
5,48.0S,53.3W,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25
8,33.1N,173.7W,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59
...,...,...,...,...,...,...,...,...
680,44.3S,83.3E,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49
681,12.0S,162.8E,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49
692,64.5S,136.2E,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06
697,21.0N,86.6E,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02
857,35.1S,33.4E,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27

In [10]:
# Split 'Peak Brightness Time (UT)' into 'hours', 'minutes', and 'seconds'
for index, row in fireball_df.iterrows():
    hour, minute, second = row['Times (UT)'].split(':')
    fireball_df.loc[index, 'hour'] = int(hour)
    fireball_df.loc[index, 'minute'] = int(minute)
    fireball_df.loc[index, 'second'] = int(second)
    
fireball_df

,Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),hour,minute,second
0,16.8S,76.0E,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03,0.0,2.0,3.0
3,40.1N,87.4E,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54,2.0,53.0,54.0
4,7.9N,109.9E,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34,6.0,15.0,34.0
5,48.0S,53.3W,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25,22.0,55.0,25.0
8,33.1N,173.7W,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59,6.0,56.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...
680,44.3S,83.3E,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49,4.0,21.0,49.0
681,12.0S,162.8E,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49,3.0,24.0,49.0
692,64.5S,136.2E,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06,13.0,54.0,6.0
697,21.0N,86.6E,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02,12.0,59.0,2.0
857,35.1S,33.4E,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27,23.0,0.0,27.0

In [11]:
# Convert all 'hours', 'minutes', 'seconds' into all minutes
fireball_df['total_minutes'] = fireball_df['hour'] * 60 + fireball_df['minute'] + fireball_df['second'] / 60

# Drop the orginal columns 'hours', 'minutes', 'seconds' 
fireball_df = fireball_df.drop(columns=['hour', 'minute', 'second'])

# View the table
fireball_df

,Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes
0,16.8S,76.0E,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03,2.050000
3,40.1N,87.4E,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54,173.900000
4,7.9N,109.9E,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34,375.566667
5,48.0S,53.3W,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25,1375.416667
8,33.1N,173.7W,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59,416.983333
...,...,...,...,...,...,...,...,...,...
680,44.3S,83.3E,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49,261.816667
681,12.0S,162.8E,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49,204.816667
692,64.5S,136.2E,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06,834.100000
697,21.0N,86.6E,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02,779.033333
857,35.1S,33.4E,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27,1380.450000

In [12]:
for index, row in fireball_df.iterrows():
    try:
        hour, minute, second = row['Times (UT)'].split(':')
        df.loc[index, 'hour'] = int(hour)
        df.loc[index, 'minute'] = int(minute)
        df.loc[index, 'second'] = int(second)
    except:
        print(f"Error processing row {index}")

fireball_df

,Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes
0,16.8S,76.0E,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03,2.050000
3,40.1N,87.4E,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54,173.900000
4,7.9N,109.9E,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34,375.566667
5,48.0S,53.3W,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25,1375.416667
8,33.1N,173.7W,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59,416.983333
...,...,...,...,...,...,...,...,...,...
680,44.3S,83.3E,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49,261.816667
681,12.0S,162.8E,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49,204.816667
692,64.5S,136.2E,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06,834.100000
697,21.0N,86.6E,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02,779.033333
857,35.1S,33.4E,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27,1380.450000

# 3. Latitude and Longitude Cleaning

In [13]:
## Because the dataset provides us with latitude and longitude for fireballs in degrees, we have to change it into coordinates. 
## Refer to this website: https://lweb.cfa.harvard.edu/space_geodesy/ATLAS/cme_convert.html when calculating coordinates properly
test = df.iloc[0]
test

Peak Brightness Date/Time (UT)         2023-04-01 00:02:03
Latitude (deg.)                                      16.8S
Longitude (deg.)                                     76.0E
Altitude (km)                                         61.8
Velocity (km/s)                                       46.4
vx                                                    21.4
vy                                                   -40.6
vz                                                     7.1
Total Radiated Energy (J)                    24000000000.0
Calculated Total Impact Energy (kt)                  0.086
hour                                                   0.0
minute                                                 2.0
second                                                 3.0
Name: 0, dtype: object

In [14]:
# Parse through the first row of "Latitude (deg.)" data
parse(test["Latitude (deg.)"])

-16.8

In [15]:
# Parse through the first row of "Longitude (deg.)" data
parse(test["Longitude (deg.)"])

76.0

In [16]:
# Parse through and clean all of 'fireball_lat' column
fireball_df2= fireball_df.loc[~(df["Latitude (deg.)"].isna())]
fireball_df2

,Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes
0,16.8S,76.0E,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03,2.050000
3,40.1N,87.4E,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54,173.900000
4,7.9N,109.9E,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34,375.566667
5,48.0S,53.3W,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25,1375.416667
8,33.1N,173.7W,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59,416.983333
...,...,...,...,...,...,...,...,...,...
680,44.3S,83.3E,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49,261.816667
681,12.0S,162.8E,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49,204.816667
692,64.5S,136.2E,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06,834.100000
697,21.0N,86.6E,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02,779.033333
857,35.1S,33.4E,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27,1380.450000

In [17]:
# Create a new column that has the cleaned latitude coordinates and display it
fireball_df2["lat"] = fireball_df2["Latitude (deg.)"].map(lambda l: parse(l))

# Drop the orginal column 'Latitude (deg.)'
fireball_df2 = fireball_df2.drop(columns=['Latitude (deg.)'])
fireball_df2

,Longitude (deg.),Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes,lat
0,76.0E,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03,2.050000,-16.8
3,87.4E,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54,173.900000,40.1
4,109.9E,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34,375.566667,7.9
5,53.3W,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25,1375.416667,-48.0
8,173.7W,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59,416.983333,33.1
...,...,...,...,...,...,...,...,...,...
680,83.3E,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49,261.816667,-44.3
681,162.8E,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49,204.816667,-12.0
692,136.2E,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06,834.100000,-64.5
697,86.6E,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02,779.033333,21.0
857,33.4E,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27,1380.450000,-35.1

In [18]:
# # Do the math (multiply the minutes with the latitude) to get coordinates for latitude
# ##fireball_df2['latitude'] = fireball_df2['total_minutes'] * fireball_df2['lat']
fireball_df2['latitude'] = fireball_df2['lat']
# # Drop 'lat' column
# fireball_df2 = fireball_df2.drop(columns=['lat'])
# fireball_df2

In [19]:
# Create a new column containing cleaned longitude coordinates and display it
fireball_df2["long"] = fireball_df2["Longitude (deg.)"].map(lambda l: parse(l))

# Drop the orginal column 'Longitude (deg.)'
fireball_df2 = fireball_df2.drop(columns=['Longitude (deg.)'])
fireball_df2

,Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes,lat,latitude,long
0,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03,2.050000,-16.8,-16.8,76.0
3,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54,173.900000,40.1,40.1,87.4
4,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34,375.566667,7.9,7.9,109.9
5,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25,1375.416667,-48.0,-48.0,-53.3
8,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59,416.983333,33.1,33.1,-173.7
...,...,...,...,...,...,...,...,...,...,...
680,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49,261.816667,-44.3,-44.3,83.3
681,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49,204.816667,-12.0,-12.0,162.8
692,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06,834.100000,-64.5,-64.5,136.2
697,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02,779.033333,21.0,21.0,86.6
857,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27,1380.450000,-35.1,-35.1,33.4

In [20]:
# # Do the math (multiply the minutes with the longitude) to get coordinates for longitude
# fireball_df2['longitude'] = fireball_df2['total_minutes'] * fireball_df2['long']
fireball_df2['longitude'] = fireball_df2['long']
# # Drop 'lat' column
# fireball_df2 = fireball_df2.drop(columns=['long'])
# fireball_df2

In [21]:
# Add another column combining the latitude and longitude
fireball_df2 = fireball_df2.assign(geolocation=[*zip(fireball_df2.latitude, fireball_df2.longitude)])
fireball_df2

,Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes,lat,latitude,long,longitude,geolocation
0,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03,2.050000,-16.8,-16.8,76.0,76.0,"(-16.8, 76.0)"
3,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54,173.900000,40.1,40.1,87.4,87.4,"(40.1, 87.4)"
4,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34,375.566667,7.9,7.9,109.9,109.9,"(7.9, 109.9)"
5,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25,1375.416667,-48.0,-48.0,-53.3,-53.3,"(-48.0, -53.3)"
8,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59,416.983333,33.1,33.1,-173.7,-173.7,"(33.1, -173.7)"
...,...,...,...,...,...,...,...,...,...,...,...,...
680,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49,261.816667,-44.3,-44.3,83.3,83.3,"(-44.3, 83.3)"
681,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49,204.816667,-12.0,-12.0,162.8,162.8,"(-12.0, 162.8)"
692,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06,834.100000,-64.5,-64.5,136.2,136.2,"(-64.5, 136.2)"
697,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02,779.033333,21.0,21.0,86.6,86.6,"(21.0, 86.6)"
857,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27,1380.450000,-35.1,-35.1,33.4,33.4,"(-35.1, 33.4)"

In [22]:
# Convert 'geolocation' to a string
fireball_df2['geolocation'] = fireball_df2['geolocation'].astype(str)

In [23]:
print(fireball_df2.dtypes)

Altitude (km)                          float64
Velocity (km/s)                        float64
Total Radiated Energy (J)              float64
Calculated Total Impact Energy (kt)    float64
Dates                                   object
Times (UT)                              object
total_minutes                          float64
lat                                    float64
latitude                               float64
long                                   float64
longitude                              float64
geolocation                             object
dtype: object

### 2.2 Filter out Fireballs that Fell Outside USA

In [24]:
## We are only looking at fireballs that fell or were reported within the USA, therefore we need to figure out what countries that fell over utilizing GeoLocation as the key.

fireball_df2.geolocation = (
    fireball_df2
    .geolocation
    .str
    .strip()
    .replace(
        {
            '\(':'',
            '\)':'',
            ' ':''
        },
        regex=True
    )
)
fireball_df2

,Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes,lat,latitude,long,longitude,geolocation
0,61.8,46.4,2.400000e+10,0.086,2023-04-01,00:02:03,2.050000,-16.8,-16.8,76.0,76.0,"-16.8,76.0"
3,32.0,25.3,6.400000e+10,0.200,2023-03-03,02:53:54,173.900000,40.1,40.1,87.4,87.4,"40.1,87.4"
4,37.0,23.0,2.030000e+11,0.570,2023-02-19,06:15:34,375.566667,7.9,7.9,109.9,109.9,"7.9,109.9"
5,32.3,15.6,1.840000e+11,0.520,2023-02-14,22:55:25,1375.416667,-48.0,-48.0,-53.3,-53.3,"-48.0,-53.3"
8,38.0,14.2,2.900000e+10,0.100,2023-01-17,06:56:59,416.983333,33.1,33.1,-173.7,-173.7,"33.1,-173.7"
...,...,...,...,...,...,...,...,...,...,...,...,...
680,29.6,16.3,6.240000e+11,1.500,2004-04-22,04:21:49,261.816667,-44.3,-44.3,83.3,83.3,"-44.3,83.3"
681,35.0,25.6,4.330000e+11,1.100,2004-04-06,03:24:49,204.816667,-12.0,-12.0,162.8,162.8,"-12.0,162.8"
692,23.0,20.1,5.180000e+11,1.300,2003-11-10,13:54:06,834.100000,-64.5,-64.5,136.2,136.2,"-64.5,136.2"
697,26.0,18.2,2.150000e+12,4.600,2003-09-27,12:59:02,779.033333,21.0,21.0,86.6,86.6,"21.0,86.6"
857,30.0,17.1,7.400000e+10,0.230,1998-01-04,23:00:27,1380.450000,-35.1,-35.1,33.4,33.4,"-35.1,33.4"

In [25]:
# Next, we want to narrow down the key to only unique locations
geo_key = pd.DataFrame(fireball_df2['geolocation'].unique(),columns=['geolocation'])
geo_key

     geolocation
0     -16.8,76.0
1      40.1,87.4
2      7.9,109.9
3    -48.0,-53.3
4    33.1,-173.7
..           ...
280   -44.3,83.3
281  -12.0,162.8
282  -64.5,136.2
283    21.0,86.6
284   -35.1,33.4

[285 rows x 1 columns]

In [26]:
# Set the pause duration between api requests
pause = 0.1

In [27]:
# Set up a function that accepts a latitude,longitude string, sends it to the Google API, and returns the location API result
def geocode(latlong):
    time.sleep(pause) #pause for some duration before each request, to not hammer their server
    url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng={}&sensor=false&key='+ map_key #api url with placeholders
    request = url.format(latlong) #fill in the placeholder with a variable
    response = requests.get(request) #send the request to the server and get the response
    data = response.json() #convert the response json string into a dict
    
    if len(data['results']) > 0: #if google was able to geolocate our address, extract formatted address from result
        return data['results'][0]['formatted_address']

In [28]:
geo_key.iloc[0:3,0].map(geocode)

0    5JMR6222+22
1    8MG939XX+XX
2    6PVFWV2X+2X
Name: geolocation, dtype: object

In [29]:
# for each value in the GeoLocation column, geocode it, save results as new df column
geo_key['Address'] = geo_key['geolocation'].map(geocode)

In [30]:
#Drop any incomplete sets
geo_key=geo_key.dropna()

# Check how it looks
geo_key.head()

   geolocation      Address
0   -16.8,76.0  5JMR6222+22
1    40.1,87.4  8MG939XX+XX
2    7.9,109.9  6PVFWV2X+2X
3  -48.0,-53.3  4838XPX2+X2
4  33.1,-173.7  825838X2+X2

In [31]:
# Filter out all non-USA results
country = 'USA'
geo_key2=geo_key[geo_key['Address'].str.contains(country)]
geo_key2['Country']='USA'
geo_key2.head()

C:\Users\emich\AppData\Local\Temp\ipykernel_16368\2735779226.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geo_key2['Country']='USA'

    geolocation                    Address Country
230  32.0,-92.9  2422+22 Goldonna, LA, USA     USA

In [32]:
#Merge the key back in with the dataset using an inner join to filter out non-USA meteorites
df3 = fireball_df2.merge(geo_key2, on='geolocation', how='inner')

#Drop columns not needed from key 
df3 = (df3.drop(['geolocation', 'Country'], axis=1).dropna())
df3.head()

,Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes,lat,latitude,long,longitude,Address
0,52.0,24.5,3.230000e+11,0.85,2010-03-08,22:02:07,1322.116667,32.0,32.0,-92.9,-92.9,"2422+22 Goldonna, LA, USA"

In [34]:
#Save as JSON
df3.to_json('Fireball_Data_Cleaned.json', orient ='split', compression = 'infer')

print(df3)

   Altitude (km)  Velocity (km/s)  Total Radiated Energy (J)  \
0           52.0             24.5               3.230000e+11

   Calculated Total Impact Energy (kt)       Dates Times (UT)  total_minutes  \
0                                 0.85  2010-03-08   22:02:07    1322.116667

    lat  latitude  long  longitude                    Address
0  32.0      32.0 -92.9      -92.9  2422+22 Goldonna, LA, USA

In [35]:
# Set the Coordinate Reference System (CRS) to the WGS84 (epsg:4326) latitude-longitude projection 
# fyi: CRS tells Python how coordinates relate to places on the Earth
#      https://spatialreference.org/ref/epsg/4326/
#      https://en.wikipedia.org/wiki/World_Geodetic_System
crs={'init':'epsg:4326'}

# Create a GeoDataFrame using the zip code coordinates
geo_df=gpd.GeoDataFrame(df3,crs=crs,geometry=gpd.points_from_xy(df3['longitude'], df3['latitude']))

# Check dataframe
geo_df

C:\Users\emich\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

,Altitude (km),Velocity (km/s),Total Radiated Energy (J),Calculated Total Impact Energy (kt),Dates,Times (UT),total_minutes,lat,latitude,long,longitude,Address,geometry
0,52.0,24.5,3.230000e+11,0.85,2010-03-08,22:02:07,1322.116667,32.0,32.0,-92.9,-92.9,"2422+22 Goldonna, LA, USA",POINT (-92.90000 32.00000)

In [36]:
#Save as a GeoJSON
geo_df.to_file('Project-3-', driver="GeoJSON")

In [41]:
geo = {"type":"FeatureCollection",
    "features":[]}
for idx, row in fireball_df2.iterrows():
    feat = {"type":"Feature",
           "properties":{
               "Impact Energy": row["Calculated Total Impact Energy (kt)"]
           },
           "geometry": {
               "type":"Point",
               "coordinates":[row["longitude"], row["latitude"]]
            }}
    geo["features"].append(feat)
geo

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'Impact Energy': 0.086},
   'geometry': {'type': 'Point', 'coordinates': [76.0, -16.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.2},
   'geometry': {'type': 'Point', 'coordinates': [87.4, 40.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.57},
   'geometry': {'type': 'Point', 'coordinates': [109.9, 7.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.52},
   'geometry': {'type': 'Point', 'coordinates': [-53.3, -48.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.1},
   'geometry': {'type': 'Point', 'coordinates': [-173.7, 33.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.15},
   'geometry': {'type': 'Point', 'coordinates': [18.6, 31.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.28},
   'geometry': {'type': 'Point', 'coordinates': [135.0, -45.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.2},
   'geometry': {'type': 'Point', 'coordinates': [92.9, 42.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.2},
   'geometry': {'type': 'Point', 'coordinates': [-2.1, 32.75]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.12},
   'geometry': {'type': 'Point', 'coordinates': [-109.7, 15.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [63.4, 40.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.086},
   'geometry': {'type': 'Point', 'coordinates': [165.9, 20.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.68},
   'geometry': {'type': 'Point', 'coordinates': [-86.9, -6.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.3},
   'geometry': {'type': 'Point', 'coordinates': [-2.9, -44.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.27},
   'geometry': {'type': 'Point', 'coordinates': [76.6, -40.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.19},
   'geometry': {'type': 'Point', 'coordinates': [-20.5, -23.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.27},
   'geometry': {'type': 'Point', 'coordinates': [-59.6, -43.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.095},
   'geometry': {'type': 'Point', 'coordinates': [130.1, 21.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.21},
   'geometry': {'type': 'Point', 'coordinates': [164.7, -69.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [-127.1, 40.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [-68.9, -55.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.17},
   'geometry': {'type': 'Point', 'coordinates': [57.8, -8.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.095},
   'geometry': {'type': 'Point', 'coordinates': [-64.3, -3.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.98},
   'geometry': {'type': 'Point', 'coordinates': [74.3, -7.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.24},
   'geometry': {'type': 'Point', 'coordinates': [-20.6, 1.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-9.1, 70.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.21},
   'geometry': {'type': 'Point', 'coordinates': [56.4, 5.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 7.0},
   'geometry': {'type': 'Point', 'coordinates': [11.4, -28.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.44},
   'geometry': {'type': 'Point', 'coordinates': [142.2, -13.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.18},
   'geometry': {'type': 'Point', 'coordinates': [-38.0, 50.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 2.9},
   'geometry': {'type': 'Point', 'coordinates': [-160.2, -58.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.073},
   'geometry': {'type': 'Point', 'coordinates': [115.0, -69.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [60.3, 62.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [113.5, 32.6]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.086},
   'geometry': {'type': 'Point', 'coordinates': [119.1, -6.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [51.4, 51.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.073},
   'geometry': {'type': 'Point', 'coordinates': [154.3, 59.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.4},
   'geometry': {'type': 'Point', 'coordinates': [-148.0, 53.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [-111.8, -2.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [98.4, 42.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.8},
   'geometry': {'type': 'Point', 'coordinates': [-164.2, 44.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.076},
   'geometry': {'type': 'Point', 'coordinates': [141.0, -34.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.076},
   'geometry': {'type': 'Point', 'coordinates': [-79.1, 26.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.4},
   'geometry': {'type': 'Point', 'coordinates': [106.7, 71.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.41},
   'geometry': {'type': 'Point', 'coordinates': [90.4, -48.6]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [141.1, -81.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.1},
   'geometry': {'type': 'Point', 'coordinates': [-92.8, 75.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [80.1, 48.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.72},
   'geometry': {'type': 'Point', 'coordinates': [115.2, 5.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.24},
   'geometry': {'type': 'Point', 'coordinates': [-51.3, 38.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.2},
   'geometry': {'type': 'Point', 'coordinates': [95.5, -45.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.16},
   'geometry': {'type': 'Point', 'coordinates': [-158.2, 14.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.18},
   'geometry': {'type': 'Point', 'coordinates': [-54.7, 36.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 9.5},
   'geometry': {'type': 'Point', 'coordinates': [96.2, 31.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.092},
   'geometry': {'type': 'Point', 'coordinates': [135.1, 33.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.33},
   'geometry': {'type': 'Point', 'coordinates': [16.8, 59.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.34},
   'geometry': {'type': 'Point', 'coordinates': [160.4, -5.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.15},
   'geometry': {'type': 'Point', 'coordinates': [-133.5, 22.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.12},
   'geometry': {'type': 'Point', 'coordinates': [-135.8, -11.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.14},
   'geometry': {'type': 'Point', 'coordinates': [-169.7, 2.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.2},
   'geometry': {'type': 'Point', 'coordinates': [133.5, 26.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.23},
   'geometry': {'type': 'Point', 'coordinates': [-34.2, -35.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.16},
   'geometry': {'type': 'Point', 'coordinates': [-11.2, -51.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.23},
   'geometry': {'type': 'Point', 'coordinates': [74.0, -48.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.18},
   'geometry': {'type': 'Point', 'coordinates': [41.7, 40.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.14},
   'geometry': {'type': 'Point', 'coordinates': [-131.0, 44.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.37},
   'geometry': {'type': 'Point', 'coordinates': [23.5, -38.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.0},
   'geometry': {'type': 'Point', 'coordinates': [90.8, -53.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.34},
   'geometry': {'type': 'Point', 'coordinates': [15.1, 45.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.095},
   'geometry': {'type': 'Point', 'coordinates': [76.7, 28.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.15},
   'geometry': {'type': 'Point', 'coordinates': [1.5, 30.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.092},
   'geometry': {'type': 'Point', 'coordinates': [-35.8, 28.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.098},
   'geometry': {'type': 'Point', 'coordinates': [34.3, 33.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.29},
   'geometry': {'type': 'Point', 'coordinates': [-66.0, 19.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.19},
   'geometry': {'type': 'Point', 'coordinates': [-116.4, -71.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.21},
   'geometry': {'type': 'Point', 'coordinates': [-147.6, 56.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [161.7, 47.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.095},
   'geometry': {'type': 'Point', 'coordinates': [-31.7, 35.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.089},
   'geometry': {'type': 'Point', 'coordinates': [25.7, -22.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.33},
   'geometry': {'type': 'Point', 'coordinates': [-143.3, -10.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.57},
   'geometry': {'type': 'Point', 'coordinates': [122.9, 44.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.082},
   'geometry': {'type': 'Point', 'coordinates': [-107.2, -12.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.33},
   'geometry': {'type': 'Point', 'coordinates': [-33.5, -38.6]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.14},
   'geometry': {'type': 'Point', 'coordinates': [126.9, -18.6]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.48},
   'geometry': {'type': 'Point', 'coordinates': [9.2, 54.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.19},
   'geometry': {'type': 'Point', 'coordinates': [-47.8, 24.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [-130.4, 21.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.089},
   'geometry': {'type': 'Point', 'coordinates': [7.0, 38.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.69},
   'geometry': {'type': 'Point', 'coordinates': [-147.6, 44.6]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [-129.5, 21.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 6.0},
   'geometry': {'type': 'Point', 'coordinates': [-66.2, 14.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.14},
   'geometry': {'type': 'Point', 'coordinates': [-25.3, 56.6]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.16},
   'geometry': {'type': 'Point', 'coordinates': [89.4, -19.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.6},
   'geometry': {'type': 'Point', 'coordinates': [137.5, -38.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [132.8, -23.6]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.37},
   'geometry': {'type': 'Point', 'coordinates': [67.8, -48.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.1},
   'geometry': {'type': 'Point', 'coordinates': [-74.6, 18.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.22},
   'geometry': {'type': 'Point', 'coordinates': [94.9, 56.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.073},
   'geometry': {'type': 'Point', 'coordinates': [140.3, -24.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.15},
   'geometry': {'type': 'Point', 'coordinates': [95.7, 63.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 4.2},
   'geometry': {'type': 'Point', 'coordinates': [25.3, -15.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.4},
   'geometry': {'type': 'Point', 'coordinates': [-83.8, 22.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.12},
   'geometry': {'type': 'Point', 'coordinates': [6.5, 18.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.27},
   'geometry': {'type': 'Point', 'coordinates': [-174.4, -47.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 49.0},
   'geometry': {'type': 'Point', 'coordinates': [172.4, 56.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.1},
   'geometry': {'type': 'Point', 'coordinates': [-6.7, 25.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.61},
   'geometry': {'type': 'Point', 'coordinates': [-172.9, 47.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [-31.7, -39.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.9},
   'geometry': {'type': 'Point', 'coordinates': [56.8, -23.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.17},
   'geometry': {'type': 'Point', 'coordinates': [44.9, -34.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.086},
   'geometry': {'type': 'Point', 'coordinates': [141.4, -1.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 2.1},
   'geometry': {'type': 'Point', 'coordinates': [-69.0, 76.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.1},
   'geometry': {'type': 'Point', 'coordinates': [12.1, 32.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 2.8},
   'geometry': {'type': 'Point', 'coordinates': [38.1, 52.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.98},
   'geometry': {'type': 'Point', 'coordinates': [23.3, -21.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [-7.5, 46.9]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.1},
   'geometry': {'type': 'Point', 'coordinates': [-1.4, -45.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.12},
   'geometry': {'type': 'Point', 'coordinates': [45.8, -59.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.23},
   'geometry': {'type': 'Point', 'coordinates': [3.6, 7.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.3},
   'geometry': {'type': 'Point', 'coordinates': [72.6, -22.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.22},
   'geometry': {'type': 'Point', 'coordinates': [-37.1, -13.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.53},
   'geometry': {'type': 'Point', 'coordinates': [104.3, -19.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.56},
   'geometry': {'type': 'Point', 'coordinates': [57.2, -52.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.098},
   'geometry': {'type': 'Point', 'coordinates': [52.5, 55.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 6.4},
   'geometry': {'type': 'Point', 'coordinates': [170.0, 60.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.098},
   'geometry': {'type': 'Point', 'coordinates': [135.0, -24.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.086},
   'geometry': {'type': 'Point', 'coordinates': [44.6, 28.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [128.2, -65.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.54},
   'geometry': {'type': 'Point', 'coordinates': [99.4, 28.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [-116.9, 49.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.12},
   'geometry': {'type': 'Point', 'coordinates': [-69.7, -6.6]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.23},
   'geometry': {'type': 'Point', 'coordinates': [60.7, 23.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.29},
   'geometry': {'type': 'Point', 'coordinates': [134.5, -34.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.52},
   'geometry': {'type': 'Point', 'coordinates': [143.7, 57.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.6},
   'geometry': {'type': 'Point', 'coordinates': [133.0, -54.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.28},
   'geometry': {'type': 'Point', 'coordinates': [101.8, -9.1]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.43},
   'geometry': {'type': 'Point', 'coordinates': [56.2, -25.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.0},
   'geometry': {'type': 'Point', 'coordinates': [-18.0, 40.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.21},
   'geometry': {'type': 'Point', 'coordinates': [13.5, 29.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.79},
   'geometry': {'type': 'Point', 'coordinates': [60.4, 6.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.13},
   'geometry': {'type': 'Point', 'coordinates': [49.3, 21.3]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.4},
   'geometry': {'type': 'Point', 'coordinates': [80.3, -15.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [6.7, 36.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.22},
   'geometry': {'type': 'Point', 'coordinates': [178.5, -51.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.24},
   'geometry': {'type': 'Point', 'coordinates': [44.6, -3.5]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.52},
   'geometry': {'type': 'Point', 'coordinates': [53.8, -43.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.44},
   'geometry': {'type': 'Point', 'coordinates': [48.6, 1.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.2},
   'geometry': {'type': 'Point', 'coordinates': [-11.9, 15.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.87},
   'geometry': {'type': 'Point', 'coordinates': [138.3, -17.4]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.073},
   'geometry': {'type': 'Point', 'coordinates': [15.1, -32.8]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.3},
   'geometry': {'type': 'Point', 'coordinates': [6.6, 3.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.62},
   'geometry': {'type': 'Point', 'coordinates': [-14.5, 20.7]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 1.6},
   'geometry': {'type': 'Point', 'coordinates': [149.0, 22.0]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.11},
   'geometry': {'type': 'Point', 'coordinates': [-6.3, -49.2]}},
  {'type': 'Feature',
   'properties': {'Impact Energy': 0.19},

In [42]:
import json

In [43]:
with open("Fireball_Data.geojson", "w") as output:
    json.dump(geo, output)